html, body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #464637;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


h1 {
	color: #FF3F00;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 80%;
	margin: auto;
	position: relative;
}

@media (min-width: 750px) and (max-width: 970px) {
	.container {
		width: 100%;
		min-width: 750px;
	}
}


.sortable-ghost {
	opacity: .2;
}


.block__list {
	padding: 20px 0;
	background-color: #fff;
}

	.block__list li {
		cursor: move;
	}

.block__list_words li {
	/*the parent li get padded*/
	padding: 10px 40px;
}

.block__list_words .sortable-ghost {
	opacity: 0.4;
	background-color: #F4E2C9;
}

/*.block__list_words li:first-letter {
	text-transform: uppercase;
}*/




#editable {
}

	#editable li {
		background-color: #ffd56f;
		border-bottom: thin solid #083765;
		position: relative;
	}

		#editable li:hover {
			background-color: #e5bf63;
		}

	#editable i {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		opacity: 0;
		display: block;
		cursor: pointer;
		color: #c00;
		top: 10px;
		float: right;
		padding-right: 15px;
		font-style: normal;
	}

	#editable li:hover i {
		opacity: 1;
	}

	#editable li ul {
		list-style-type: none;
		min-height: 40px;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

		#editable li ul li {
			background-color: white;
			float: left;
			padding: 10px;
			margin: 5px 5px 5px 5px;
			padding: 3px;
			font-size: 0.75em;
			width: 200px;
			text-align: center;
			font-weight: bold;
			border: 1px solid black;
		}

	#editable li:hover ul li:hover {
		background-color: #5F9EDF;
	}


#filter {
}



	#filter button {
		color: #fff;
		width: 24.5%;
		border: none;
		outline: 0;
		opacity: .5;
		margin: 10px 0 0;
		transition: opacity .1s ease;
		cursor: pointer;
		background: #083765;
		padding: 10px 0;
		font-size: 20px;
	}

		#filter button:hover {
			opacity: 1;
		}

	#filter .block__list {
		padding-bottom: 0;
	}


li ul li {
}
